/* 
* @Author: anchen
* @Date:   2018-11-24 12:16:56
* @Last Modified by:   anchen
* @Last Modified time: 2018-11-24 12:18:25
*/
body{
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    color:#cdf;
}